<div>
    <div>
        <div class="col-md-offset-4 col-md-4 text-center"><label for="rangePicker">Filter by Point</label>
            <rzslider id="rangePicker" rz-slider-model="rangeSlider.minValue" rz-slider-high="rangeSlider.maxValue" rz-slider-options="rangeSlider.options" ></rzslider>
        </div>
        <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
            <table id="imagesTable" datatable="" dt-options="images.dttOptions"
                   dt-columns="images.dtColumns" dt-instance="images.dtInstance"
                   class="table table-striped table-bordered table-hover" align="center">
            </table>
        </div>
    </div>
</div>
